body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

#qr-code canvas {
    border: 1px solid #ddd;
    margin: 10px 0;
}

.link-container {
    margin-top: 20px;
}

.link-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.link-item input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.link-item img {
    margin-left: 10px;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
